<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
            <h1>Simple Weather App</h1>
            <p>
                This app was developed as sample project for master's thesis and
                is based on <a href="https://www.metaweather.com/api">https://www.metaweather.com/api</a>
            </p>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>